input {
    font-size: 12px;
}

.log-reg {
    width: 100%;
    height: 553px;
    position: relative;
}

.log-reg>a {
    display: block;
    background: url(http://i2.ygimg.cn/pics/shop/cms/image/cms/2018/06/28/ba839750211e4c6485fe16dea496b709.jpg) no-repeat top center;
    width: 100%;
    height: 100%;
}

.log-reg .userin {
    position: absolute;
    background: #fff;
    box-sizing: border-box;
    height: 450px;
    top: 50px;
    left: 60%;
    width: 378px;
    display: none;
}

.log-reg .userin ul {
    border-bottom: 1px solid #f3f3f3;
    margin: 24px 15px 0 15px;
}

.log-reg .userin ul li.active,
.log-reg .userin ul li.active a {
    background-color: #333;
    color: #fff;
}

.log-reg .userin ul li {
    float: left;
    width: 174px;
    background-color: #f3f3f3;
    line-height: 40px;
    text-align: center;
}

.log-reg .userin ul li a {
    color: #666;
    font-size: 14px;
}

.log-reg .userin .inform {
    padding-top: 30px;
    margin: 0 15px;
}

.log-reg .userin .inform i {
    font-size: 30px;
    color: #9E9E9E;
    margin-left: 6px;
}

.log-reg .userin .inform .username .tapin {
    border: 1px solid #e3e2e2;
    box-sizing: border-box;
    height: 38px;
    margin: 0;
    width: 310px;
    margin: 0 auto;
}

.log-reg .userin .inform .username input {
    background: 0;
    border: 0;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 266px;
    outline: none;
}

.log-reg .userin .inform .password .tapin {
    border: 1px solid #e3e2e2;
    box-sizing: border-box;
    height: 38px;
    margin: 0;
    width: 310px;
    margin: 0 auto;
}

.log-reg .userin .inform .username p i {
    font-size: 18px;
}

.log-reg .userin .inform .password p.active {
    visibility: visible;
}

.log-reg .userin .inform .password p i {
    font-size: 18px;
}

.log-reg .userin .inform .username p,
.log-reg .userin .inform .password p {
    visibility: hidden;
    font-size: 12px;
}

.log-reg .userin .inform .username p.active {
    visibility: visible;
}

.log-reg .userin .inform .password input {
    background: 0;
    border: 0;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 266px;
    outline: none;
}

.log-reg .userin .inform .forget {
    display: block;
    text-align: right;
    margin-right: 17px;
    margin: 0;
}

.log-reg .userin .inform .forget a {
    font-size: 12px;
    line-height: 26px;
    text-decoration: underline;
    color: #9E9E9E;
    margin-right: 20px;
}

.log-reg .userin .inform input[type=button] {
    display: block;
    background: #000;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 312px;
    margin: 0 auto;
}

.log-reg .userin .inform .friend {
    color: #999;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.log-reg .userin .inform .friend-link {
    text-align: center;
    margin-top: 5px;
    color: #e3e2e2;
}

.log-reg .userin .inform .friend-link a {
    line-height: 54px;
    padding: 9px 16px;
    margin: 0 5px;
    background: url(https://passport.yougou.com/template/common/images/icon_sig_reg.png);
}

.log-reg .userin .inform .friend-link a:nth-child(1) {
    background-position: -37px -18px;
}

.log-reg .userin .inform .friend-link a:nth-child(2) {
    background-position: -73px -18px;
}

.log-reg .userin .inform .friend-link a:nth-child(3) {
    background-position: -110px -22px;
}

.log-reg .userin .inform .friend-link a:nth-child(4) {
    background-position: -37px -57px;
}

footer {
    font-size: 12px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
}

footer a {
    padding: 0 20px;
    color: #aaa;
}

a:hover {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #aaa;
}



.log-reg .phonein {
    position: absolute;
    background: #fff;
    box-sizing: border-box;
    height: 450px;
    top: 50px;
    left: 60%;
    width: 378px;
    display: block;
}

.log-reg .phonein ul {
    border-bottom: 1px solid #f3f3f3;
    margin: 24px 15px 0 15px;
}

.log-reg .phonein ul li.active,
.log-reg .phonein ul li.active a {
    background-color: #333;
    color: #fff;
}

.log-reg .phonein ul li {
    float: left;
    width: 174px;
    background-color: #f3f3f3;
    line-height: 40px;
    text-align: center;
}

.log-reg .phonein ul li a {
    color: #666;
    font-size: 14px;
}

.log-reg .phonein .inform {
    padding-top: 30px;
    margin: 0 15px;
}

.log-reg .phonein .inform .phone .tapin {
    border: 1px solid #e3e2e2;
    box-sizing: border-box;
    height: 38px;
    margin: 0;
    width: 310px;
    margin: 0 auto;
}

.log-reg .phonein .inform .phone .tapin span {
    line-height: 38px;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
}

.log-reg .phonein .inform .phone input {
    background: 0;
    border: 0;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 230px;
    outline: none;
}

.log-reg .phonein .inform .yzm .tapin {
    width: 200px;
    border: 1px solid #e3e2e2;
    box-sizing: border-box;
    height: 38px;
    margin: 0;
    margin-left: 20px;
    display: inline-block;
}

.log-reg .phonein .inform .yzm .tapin span {
    line-height: 38px;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
}

.log-reg .phonein .inform .yzm a {
    display: inline-block;
    background: #323232;
    color: #fff;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    margin-right: 17px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.log-reg .phonein .inform .yzm a span {
    background: #323232;
    color: #fff;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    text-align: center;
    width: 73px;
}

.log-reg .phonein .inform .phone p.active {
    visibility: visible;
    font-size: 12px;
}

.log-reg .phonein .inform .yzm p.active {
    visibility: visible;
    font-size: 12px;
}

.log-reg .phonein .inform .phone p i {
    font-size: 18px;
}

.log-reg .phonein .inform .yzm p i {
    font-size: 18px;
}

.log-reg .phonein .inform .phone p,
.log-reg .phonein .inform .yzm p {
    visibility: hidden;
    padding-left: 20px;
}

.log-reg .phonein .inform .yzm input {
    background: 0;
    border: 0;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 120px;
    outline: none;
}

.log-reg .phonein .inform .forget {
    display: block;
    text-align: right;
    margin-right: 17px;
    margin: 0;
}

.log-reg .phonein .inform .forget a {
    font-size: 12px;
    line-height: 26px;
    text-decoration: underline;
    color: #9E9E9E;
    margin-right: 20px;
}

.log-reg .phonein .inform input[type=button] {
    display: block;
    background: #000;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 312px;
    margin: 0 auto;
}

.log-reg .phonein .inform .friend {
    color: #999;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.log-reg .phonein .inform .friend-link {
    text-align: center;
    margin-top: 5px;
    color: #e3e2e2;
}

.log-reg .phonein .inform .friend-link a {
    line-height: 54px;
    padding: 9px 16px;
    margin: 0 5px;
    background: url(https://passport.yougou.com/template/common/images/icon_sig_reg.png);
}

.log-reg .phonein .inform .friend-link a:nth-child(1) {
    background-position: -73px -20px;
}

.log-reg .phonein .inform .friend-link a:nth-child(2) {
    background-position: -110px -22px;
}

.log-reg .phonein .inform .friend-link a:nth-child(3) {
    background-position: -37px -57px;
}

.log-reg .phonein .inform .friend-link a:nth-child(4) {
    background-position: -73px -57px;
}


@keyframes remove {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(0);
    }
}

body .warp.disable {
    animation-name: remove;
    animation-duration: .4s;
    animation-fill-mode: both;
}

body .warp.none {
    display: none;
}

body .warp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

body .warp .tip {
    width: 0px;
    visibility: hidden;
    position: fixed;
    top: 112px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width .5s ease, visibility .5s ease;
}

body .warp .tip.active {
    width: 600px;
    visibility: visible;
}

body .warp .tip .warp-title {
    padding: 0 80px 0 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #F0F0F0;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
}

body .warp .tip .warp-content {
    padding: 50px;
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
}

body .warp .tip .warp-content a {
    color: red;
}

body .warp .tip .warp-content li:last-child {
    font-weight: bold;
}

body .warp .tip .btns {
    padding: 0 15px 12px 10px;
    text-align: center;
}

body .warp .tip .btns a.disagree {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #333;
    border: 1px solid red;
}

body .warp .tip .btns a.agree {
    font-size: 12px;
    background-color: red;
    color: #FFFFFF;
    border: 1px solid red;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}

body .log-reg .reg {
    position: absolute;
    background: #fff;
    box-sizing: border-box;
    height: 510px;
    margin-top: 20px;
    width: 378px;
    top: 12px;
    left: 60%;
}

body .log-reg .reg .tab {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 4px;
    margin: 24px 15px 5px 15px;
}

body .log-reg .reg .tab li {
    background: #f3f3f3;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 123px;
    margin-left: 53px;
}

body .log-reg .reg .tab li a {
    color: #333;
    font-size: 12px;
}

body .log-reg .reg .tab li.active {
    background: #333;
    margin-left: 4px;
}

body .log-reg .reg .tab li.active a {
    font-size: 12px;
    color: #fff;
}

body .log-reg .reg .inform {

    margin: 0 15px;
}

body .log-reg .reg .inform label {
    padding-left: 3px;
    font-size: 10px;
    display: inline;
}

body .log-reg .reg .inform label span,
body .log-reg .reg .inform label span i {
    font-size: 10px;
    display: none;
}

body .log-reg .reg .inform label.active span,
body .log-reg .reg .inform label.active span i {
    display: inline;
}

body .log-reg .reg .inform form .emrules {
    width: 330px;
    display: inline;
}

body .log-reg .reg .inform .tapin {
    width: 320px;
    box-sizing: border-box;
    height: 38px;
    margin: 0 auto;
    border: 1px solid #e3e2e2;
}

body .log-reg .reg .inform .tapin.active {
    border: 2px #666 solid;
}

.wrong {
    border: 1px solid rgb(51, 51, 51);
}

body .log-reg .reg .inform .tapin input {
    background: 0;
    border: 0;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 235px;
    outline: none;
}

body .log-reg .reg .inform .tuyzm .tapin {
    width: 220px;
    margin: 0;
    margin-left: 14px;
    display: inline-block;
}

body .log-reg .reg .inform .tuyzm .tapin input {
    width: 160px;
}

body .log-reg .reg .inform .tuyzm img {
    transform: translateY(15px);
}

body .log-reg .reg .inform .yzm .tapin {
    width: 239px;
    margin: 0;
    margin-left: 14px;
    display: inline-block;
}

body .log-reg .reg .inform .yzm span a {
    color: #fff;
}

body .log-reg .reg .inform .yzm .tapin input {
    width: 140px;
}

body .log-reg .reg .inform .yzm>span {
    display: inline-block;
    background: #323232;
    color: #fff;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    margin-right: 17px;
    padding: 0;
    text-align: center;
    width: 73px;
}

body .log-reg .reg .inform .tapin span {
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
    text-align: left;
    width: 60px;
}

body .log-reg .reg .inform p {
    color: #333;
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 20px;
    line-height: 12px;
    font-size: 12px;
    visibility: hidden;
}

body .log-reg .reg .inform p.active {
    visibility: visible;
}

body .log-reg .reg .inform input[type=button] {
    display: block;
    background: #000;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 312px;
    margin: 0 auto;
}

body .log-reg .reg input[type=checkbox] {
    vertical-align: middle;
}

.strength {
    text-align: right;
}

.strength.none {
    display: none;
}

.strength em {
    background: #efefef;
    display: inline-block;
    width: 46px;
    color: #fff;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-right: 1px;
    color: #c5c4c4;
}

.strength em.strength-low {
    background: #e60011;
    color: #fff;
}

.strength em.strength-medium {
    background: #febd04;
    color: #fff;
}

.strength em.strength-high {
    background: #094;
    color: #fff;
}